.hotel {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    transition-duration: 0.25s;
}

.hotel:hover {
    scale: 1.05;
}

.hotel a {
    font-size: 20px;
    text-decoration: none;
}

.hotel img {
    width: 250px;
    height: 100px;
    object-fit: cover;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100px;
    padding: 0.5rem;
    background-color: rgb(73, 73, 90);
    border-bottom-left-radius: 0.5rem;
    color: white;
}

.hotel-info a {
    color: white;
    font-weight: bold;
}
