idw-footer{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.main-info{
    min-height: 30.5rem;
    margin: 0;
    align-items: start;
    justify-content: start;
    padding-top: 0;
    margin-left: 5rem;
    gap: 0;
}

.main-info h2{
    align-content: start;
    margin: 2rem 0;
    font-size: 40px;
}

section.box-info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 25px;
    margin-bottom: 2rem;
}

section.box-propuestas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 1rem;
    box-shadow: none;
    
}


.img-propuestas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
    padding: 0;
}

.img-propuestas p{
    position: absolute;
    font-size: 30px;
    z-index: -1;
}


.img-propuestas img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.img-propuestas img:hover{
    opacity: 30%;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;
}

